@charset "utf-8";
#slider{
	position:relative;
	overflow:hidden;
	margin:22px;
	}
#slider ul{
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	}
#slider ul li{
	position:relative;
	margin:0;
	padding:0;
	float:left;
	width:1000px;
	height:306px;
	display:block;
	text-align:center;
	}
a.control_prev,a.control_next{
	position:absolute;
	z-index:999;
	top:35%;
	display:block;
	padding:3% 2%;
	background-color:#000;
	opacity:0.7;
	text-decoration: none;
    color: #69c773;
	}
a.control_prev:hover,a.control_next:hover{
	opacity:1;
	-webkit-transition:all 0.2s ease;
	}
a.control_prev{
	border-radius:0 2px 2px 0;
	}
a.control_next{
	border-radius:2px 0 0 2px;
	right:0;
	}
